<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <h3>Список децимальных номеров</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Тип детали по делимости</td>
            <td>Завод изготовитель</td>
            <td>Три цифры детали по способу изготовления, материалу и форме</td>
            <td>Номер детали</td>
            <td>Название детали</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in NumbersList">
            <td>{{s.id}}</td>
            <td>{{s.partTypeByDivisibility}}</td>
            <td>{{s.manufacturer}}</td>
            <td>{{s.nameOfThePartByShapeMethodOfManufactureAndMaterial}}</td>
<!--            <td>{{s.numberDetails}}</td>-->
            <td>
                <button class="btn btn-primary" ng-click="changeNumber(s.id, -1)">-</button>
                {{s.numberDetails}}
                <button class="btn btn-primary" ng-click="changeNumber(s.id, 1)">+</button>
            </td>
            <td>{{s.nameDetails}}</td>

            <td>
                <button class="btn btn-danger" ng-click="deleteNumberDecimal(s.id)">Исключить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>